.homeCont {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; /* Establecer la altura al 50% de la altura de la ventana gráfica para que se centre verticalmente */
    margin-top: 30px;
  }